body {
    margin: 0px;
    padding: 0px;
    font-size: 1.7em;
    background-color: #3B4248;
    color: white;
}
.content {
	display: inline-block;
    width: 100%;
}
.logo {
    float: right;
    width: 100%;
    text-align: center;
}
.box-game {
    
}
.box-game-left {
    float: left;
    padding: 10px;
    overflow: hidden;
}
.box-game-left ul {
    float: right;
    list-style: none outside none;
    padding: 10px;
    margin: 0;
}
.box-game-scroll {
    margin-top: 50px;
}
.box-game-left ul li {
    float: right;
    margin: 0;
    margin: 0px 10px 10px 0px;
    display: list-item;
    height: 120px;
	position: relative;
	border-radius: 15px;
}
.box-game-left ul li:hover {
    box-shadow: 
    0 0 0 1px #000,
    0 0 0 7px #00d2ff;
}
.box-game-left .list-img {
    width: 120px;
    border: 5px solid #c9c9dd;
    border-left-color: #FFF;
    border-top-color: #FFF;
    border-width: 5px;
    border-radius: 15px;
    -webkit-box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    cursor: pointer;
}

.box-game-left ul li span {
    bottom:23px; 
    display: block;
    position: relative;
    opacity: 1;
    background-color: #e70062;
    color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left:  5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-top: 1px solid #fff;
    overflow: hidden;
    height: 19px;
    width: 110px;

}
.box-game-left ul li a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    text-indent: -99999px;
    background-color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
}
.box-game-center {
    float: left;
    background-color: #003956;
    display: table;
    padding: 10px;
    border-radius: 3px;
}
.box-game-center .box-game-play {
    height: 500px;
}
.box-game-center .box-game-header .title {
	display:inline-block;
}
.box-game-center .box-game-header .title .breadcrumb {
	padding:0;
	background-color: inherit;
	margin-bottom: 0;
	border-radius:0;
}
.box-game-center .box-game-header .title h1{
    color: #d5d5d5;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-top: 0px;
}
.box-game-right {
    float: left;
    min-width: 330px;
}
.box-ads-title {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #909090;

}
.box-ads-display {
    padding: 0;
    margin: 0;
    text-align: center;
}
.box-game-info {
    margin: 0 auto;
    float: initial;
    padding-top: 20px;
    display: table;
    padding-bottom: 20px;

}
.more-tags {
    display: -webkit-inline-box;
    padding-bottom: 20px;
    padding-top: 20px;
}
.tags{
    margin:0;
    padding:0;
    right:24px;
    bottom:-12px;
    list-style:none;
    }
.tags li, .tags a{
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
    }
.tags a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px; 
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;    
    border-top-right-radius:4px;    
    } 
.tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;      
    }
.tags a:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
    }
.tags a:hover{background:#555;} 

.tags a:hover:before{border-color:transparent #555 transparent transparent;}

.box-game-more {
    margin: 0 auto;
    float: initial;
    padding-top: 20px;
    display: table;
}
.box-game-more ul {
    float: left;
    list-style: none outside none;
    padding: 10px;
    margin: 0;
}
.box-game-more ul li {
    float: left;
    margin: 0;
    padding: 0;
    display: list-item;
    height: 190px;
	position: relative;
	margin: 0px 15px 15px 0px;
}
.box-game-more ul li:hover {
    box-shadow: 
    0 0 0 1px #000,
    0 0 0 9px #00d2ff;
}
.box-game-more .list-img {
    width: 190px;
    border: 10px solid #c9c9dd;
    border-left-color: #FFF;
    border-top-color: #FFF;
    border-width: 5px;
    -webkit-box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    cursor: pointer;
}
.box-game-more .list-img:hover {
    border: 5px solid #000;
    box-shadow: 
    0 0 0 10px #00d2ff;
}
.box-game-more ul li span {
    bottom:23px; 
    display: block;
    position: relative;
    opacity: 1;
    background-color: #e70062;
    color: #fff;
    padding-left:  5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-top: 1px solid #fff;
    overflow: hidden;
    height: 19px;
    width: 180px;

}
.box-game-more ul li a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 15px;
    overflow: hidden;
    text-indent: -99999px;
    background-color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
}

.box-game-cate {
    float: left;
    padding-top: 20px;
    display: table;
}
.box-game-cate ul {
    float: left;
    list-style: none outside none;
    padding: 10px;
    margin: 0;
}
.box-game-cate ul li {
    float: left;
    margin: 0;
    padding: 0;
    display: list-item;
    height: 190px;
	position: relative;
	margin: 0px 15px 15px 0px;
}
.box-game-cate ul li:hover {
    box-shadow: 
    0 0 0 1px #000,
    0 0 0 9px #00d2ff;
}
.box-game-cate .list-img {
    width: 190px;
    border: 10px solid #c9c9dd;
    border-left-color: #FFF;
    border-top-color: #FFF;
    border-width: 5px;
    -webkit-box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    box-shadow: 7px 8px 1px -1px rgba(0,0,0,0.25);
    cursor: pointer;
}
.box-game-cate .list-img:hover {
    border: 5px solid #000;
    box-shadow: 
    0 0 0 10px #00d2ff;
}
.box-game-cate ul li span {
    bottom:23px; 
    display: block;
    position: relative;
    opacity: 1;
    background-color: #e70062;
    color: #fff;
    padding-left:  5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-top: 1px solid #fff;
    overflow: hidden;
    height: 19px;
    width: 180px;

}
.box-game-cate ul li a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 15px;
    overflow: hidden;
    text-indent: -99999px;
    background-color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
}
.paging-box{
    padding: 20px;
    text-align: center;
}
.share {
	display: inline-block;
    float: right;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer {
    text-align: center;
}
.paging {padding:10px; text-align:center;}
.paginate {margin:0; padding:0;}
.paginate li {display: inline; font-weight: bold; height: 30px; list-style: outside none none; width: 20px;}
.paginate  .title {color: #000; margin-right: 4px;}
.paginate  .current {background-color: #007399;color: white; margin-right: 4px;padding: 4px 8px;}
.paginate  a {color: #fff;margin-right: 4px;padding: 4px 8px;text-align: center;text-decoration: none;background-color: #B3B3B3;}