/* Center the loader */
#loader {
 background: url('loader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
  text-align: inline;
}

.page {
  margin: 20;
}
</style>

<body onload="myFunction()" style="margin:0;">
<div id="loader">
  <h3>&nbsp;Loading...</h3>
</div>

<div style="display:none;" id="myDiv" class="animate-bottom">

  <style>
    html {
      margin: 0;
    }
    body {
      box-sizing: border-box;
      margin: 0;
      background-color:;
    
      flex-direction: column;
      max-height: 100vh;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    .members-count,
    .members-list,
    .messages {
      border: 1px solid #e4e4e4;
      padding: 15px;
      margin-bottom: 15px;
    }
    .messages {
      flex-shrink: 1;
      overflow: auto;
    }
    .message {
      padding: 5px 0;
    }
    .message .member {
      display: inline-block;
    }
    .member {
      padding-right: 10px;
      position: relative;
    }
    .message-form {
      display: flex;
      flex-shrink: 0;
    }
    .message-form__input {
      flex-grow: 1;
      border: 1px solid #dfdfdf;
      padding: 10px 15px;
      font-size: 16px;
    }
    .message-form__button {
      margin: 10px;
        background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    }

  body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  padding-bottom: 5px;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.button {
  border-radius: 12px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}